.range-slider {
	position: relative;
	width: 100%;
	height: 5px;
	background-color: #e5e7eb;
	border-radius: 5px;
}

.slider-track {
	height: 100%;
	position: absolute;
	background: var(--primary);
	left: 0;
	right: 100%;
	border-radius: 5px;
}

.range-slider input[type="range"] {
	position: absolute;
	width: 100%;
	top: 0;
	transform: translateY(-50%);
	background: none;
	pointer-events: none;
	appearance: none;
	height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
	height: 24px;
	width: 24px;
	border-radius: 50%;
	background: var(--background);
	pointer-events: auto;
	appearance: none;
	cursor: pointer;

	filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.06))
		drop-shadow(0px 3px 6px rgba(156, 163, 175, 0.35));
	position: relative;
	z-index: 2; /* Ensure thumbs appear above the track */
}

input[type="range"]::-moz-range-thumb {
	height: 24px;
	width: 24px;
	border-radius: 50%;
	background: var(--background);
	pointer-events: auto;
	appearance: none;
	cursor: pointer;

	filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.06))
		drop-shadow(0px 3px 6px rgba(156, 163, 175, 0.35));
	position: relative;
	z-index: 2; /* Ensure thumbs appear above the track */
}

.input-box {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.min-tooltip,
.max-tooltip {
	position: absolute;
	top: -35px;
	font-size: 12px;
	color: #555;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 5px;
	white-space: nowrap;
	z-index: 1;
}

.min-tooltip {
	left: 0;
	transform: translateX(-50%);
}

.max-tooltip {
	right: 0;
	transform: translateX(50%);
}
/* Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
